.App {
  text-align: center;
  background-color: wheat;
}

.Calc-row {
  display: flex;
  flex-direction: column;
}

.blink {
  animation: blinker 1.5s linear infinite;
  color: red;
}
@keyframes blinker {
  50% {
    opacity:0;
  }
}